
<title>Inicio</title>
  <link rel="stylesheet" href="/css/lay.css">
</head>
<body>

<h1>INICIO></h1>



<!-- Contenido de la página principal -->
<p>Seleccioná una opción en el menú para continuar.</p>

<a href="/logout">Cerrar sesión</a>



 
   